<!-- views/home.hbs -->
<div class="container">
    <h1>Welcome to the Laundry Management System</h1>
    <p>Select an action from below:</p>

    <div class="list-group">
        <a href="/customer/add" class="list-group-item list-group-item-action">Add Customer</a>
        <a href="/product/add" class="list-group-item list-group-item-action">Add Product</a>
        <a href="/order/add" class="list-group-item list-group-item-action">Create Order</a>
        <a href="/customers" class="list-group-item list-group-item-action">View All Customers</a>
        <a href="/products" class="list-group-item list-group-item-action">View All Products</a>
        <a href="/orders" class="list-group-item list-group-item-action">View All Orders</a>
    </div>
</div>
